<main>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">
            <div class="text-center">
                <img src="/img/pessoas_trocando_mensagens.jpg" class="card-img-top mx-auto m-2 " id="imagemprincipal"
                    alt="Duas pessoas trocando mensagens pelo celular">
            </div>
            </br>

        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
            <div class="text-center">
                <h1 class="mx-auto" id="titleone">Bem vindo ao portal de denúncias da rádio!</h1>
                <h2 class="text-muted" id="titletwo">O Canal de Denúncias da Itatiaia pode ser utilizado por qualquer
                    pessoa dentro da empresa,
                    que queira reportar um caso de suspeita ou violação ao nosso Código de Conduta. As informações são
                    tratadas com sigilo e confidencialidade. Em nenhuma circunstância haverá intimidação nem retaliação
                    ao denunciante.</h2>
                <div class="d-grid gap-2">
                    <a class="btn btn-dark btn-lg" id="botao-um" href="/links/cadastros/upload"> Novo relato
                    </a>
                    </br>
                    <a class="btn btn-dark btn-lg" id="botao-dois" href="/protocolo"> Acompanhar relato </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>