<div class="container p-4">
    <div class="row">
       <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <p class="m-2">{{description}}</p>
                       <form action="/links/cadastros/cadastro_denuncia" method="POST">
                        <div class="form-group">
                            <input type="type" name="tipologia" placeholder="Tipo de Denúncia" class="form-control"
                                autofocus>
                        </div>
                        <div class="form-group">
                            <select class="select-css" name="grau" id="list" onChange="update()">
                                <option selected> Grau de Denúncia </option>
                                <option value="Alto"> Alto </option>
                                <option value="Medio"> Médio </option>
                                <option value="Baixo"> Baixo </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 